.container{
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
.header{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: #fff;
    height:80px;
    position: fixed;
    top:0;
    left: 0px;
    right: 0px;
    z-index: 10;
    .header-card{
        display: flex;
        justify-content: space-around;
        li{
            padding-left: 16px;
        }
    }
}
.home{
    max-width: 100%;
    height: 100vh; 
    margin-top: 80px;
    margin-bottom: 64px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("https://raw.githubusercontent.com/Knn84/project.06-20/main/img/LINE_ALBUM_%E4%B8%BB%E5%9C%96_220620.jpg");
    background-size: cover;
    h1 {
        text-align: center;
        letter-spacing: 3px;
        z-index: 2;
        font-size: 30px;
        
    }
    .big{
        font-size: 50px;
        font-family: 'Bodoni Moda', serif;
    }
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    .border {
        margin-left: 130px;
        height: 70px;
        border-left: 1px solid rgba(159, 156, 156, 0.316);
    }
    .content-tex{
        text-align: center;
        font-family: 'Noto Sans TC', sans-serif;
        .border {
            height: 70px;
            border-left: 1px solid rgba(159, 156, 156, 0.316);
        }
        h2{
            color: rgba(0, 0, 0, 0.742);
            font-weight: bolder;
            font-size: 22px;
            margin: 64px;
        }
        p{
            color: rgba(0, 0, 0, 0.642);
            font-size: 18px;
        }
    }
}
.works{
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    h2{
        color: rgba(0, 0, 0, 0.742);
        font-weight: bolder;
        font-size: 22px;
        margin: 64px;
        margin-bottom: 64px;
    }
    .test{
        margin-bottom: 64px;
        .rounded{
        
            max-width: 30%;
            
        }
            a[data-fancybox] img {
                cursor: zoom-in;
            }
        
            .fancybox__container {
                --fancybox-bg: rgba(17, 6, 25, 0.85);
            
                .fancybox__content {
                    /* Create white border around the image */
                    box-sizing: content-box;
                    padding: 1rem;
                    background: #fff;
                    border-radius: 6px;
                    color: #374151;
                    
                }
        
            .fancybox__caption {
                max-width: 80%;
        
                /* Prevent opacity change when dragging up/down */
                --fancybox-opacity: 1;
            }
        }
    }
}